@import 'vars';

.brand-button {
  display: inline-block;
  background-color: $color-brand;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 48px;
  min-height: 48px;
  padding: 0;
}

.favorite {
  background-image: url('/heart.svg');
  background-size: 100%;
  appearance: none;
  width: 48px;
  height: 48px;

  &:checked {
    background-image: url('/heart-filled.svg');
  }
}

.restaurants-list,
.inside {
  .favorite {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 20px;
    top: 10px;
  }
}

.filter-options {
  .favorite {
    margin-right: 10px;
    padding-right: 10px;
  }
}
