$font-stack: Helvetica, Arial, sans-serif;

$color-fg: #333;
$color-bg: #f3f3f3;
$color-brand: red;
$color-brand-light: #de655e;
$color-brand-dark: #252831;
$color-blue: #3397db;
$color-missing: #ccc;

$width-small: 359px;
$width-minor: 591px;
$width-mid: 768px;
$width-large: 1300px;
$width-max: 1600px;
